<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta itemprop="name" content="{{site.title}}">
    <meta name="twitter:title" content="{{site.title}}">

    <meta name="description" content="{{site.title}} {{site.description}}">
    <meta property="og:description" content="{{site.title}} {{site.description}}">
    <meta itemprop="description" content="{{site.title}} {{site.description}}">
    <meta name="twitter:description" content="{{site.title}} {{site.description}}">

    <meta name="author" content="">
    <link rel="icon" href="ajax-loader.gif">
    <link rel="apple-touch-icon" href="ajax-loader.gif">
    <!--[if IE]><link rel="shortcut icon" href="ajax-loader.gif"><![endif]-->
    <meta property="og:image" content="ajax-loader.gif">
    <meta itemprop="image" content="ajax-loader.gif">
    <meta name="twitter:image" content="ajax-loader.gif">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jdodson">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/javascript/vgswr.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45399944-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-45399944-3');
    </script>
  </head>

  <body>
    <!-- Begin page content -->
    <main role="main" class="container" id="main">
      <h1 class="mt-2"><a class="text-secondary" href="index.html">{{ site.title }}</a></h1>

      <div class="content">
        {{content}}
      </div>

      <div class="footer">
        <small><a href="about.html">About This Project</a></small> | <small><a href="submit.html">Submit Website</a></small> | <small><a href="list.html">Website List</a></small> | <small><a href="https://github.com/jdodson/vgswebring" target="_blank">View the VGW Source Code on GitHub</a></small>
      </div>
    </main>
  </body>
</html>
